name: Conventional Commits

on:
  pull_request:
    branches: [main]

jobs:
  commitlint:
    name: Validate Conventional Commits
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Validate all commits
        uses: wagoid/commitlint-github-action@v6
        with:
          configFile: .commitlintrc.json
