name: Create Release

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        goos: [linux, darwin, windows]
        goarch: [arm64, amd64]

    steps:
    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.21.x'

    - name: Check out code
      uses: actions/checkout@v4

    - name: Get dependencies
      run: go get -v -d ./...

    - name: Build
      run: GOOS=${{ matrix.goos }} GOARCH=${{ matrix.goarch }} go build -v -o vault-kv-search-${{ matrix.goos }}-${{ matrix.goarch }}

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: vault-kv-search-${{ matrix.goos }}-${{ matrix.goarch }}
        path: ./vault-kv-search-${{ matrix.goos }}-${{ matrix.goarch }}

  release:
    needs: build
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Download artifacts
      uses: actions/download-artifact@v4

    - name: Prep binaries
      run: |
        mkdir tmp
        mv vault-kv-search-*/* tmp

    - name: Generate SHA256 Checksum
      run: |
        cd tmp
        shasum -a 256 vault-kv-search-* > sha256sums.txt

    - name: Create Release and Upload Assets
      uses: softprops/action-gh-release@v2
      with:
        draft: false
        prerelease: false
        files: |
          ./tmp/sha256sums.txt
          ./tmp/vault-kv-search-*
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
